{% extends './extends/_standard.html' %}

{% import './macros/_buttons.html' as button %}
{% import './macros/_texts.html' as text %}


{% block standard %}

  {{ text.headerminimal_paragraph('Hej [[firstName]] [[lastName]].', 'Din bruger er nu oprettet, og du har nu mulighed for at kontakte udlejere på annoncer, der er ældre end 21 dage. Herudover har du mulighed for at kontakte alle sælgere af andels- og ejerboliger samt lejeboligsøgende. Ønsker du at kontakte udlejere bag de nyeste annoncer, skal du oprette en <strong>findBoligPakke</strong>.') }}
  {{ button.primary('Opret findBoligPakke', 'http://www.boligportal.dk/find-bolig-pakke') }}

{% endblock %}

