{# Desc: Notification send when a user receive an message. #}

{% extends './extends/_standard.html' %}
{% import './macros/_buttons.html' as button %}
{% import './macros/_texts.html' as text %}

{% block standard %}

  {{ text.paragraph('Du har modtaget en eller flere henvendelser vedrørende boligen på <strong>[[propertyStreetName]] [[propertyAddressNumber]], [[propertyAddressZipCode]] [[propertyAddressCity]]</strong>') }}
  {{ button.primary('Se beskeder', '[[linkToThread]]') }}

{% endblock %}

