{# Desc: Notification send instantly when a place match a users save search #}

{% extends './extends/_standard.html' %}
{% import './macros/_texts.html' as text %}

{% block standard %}

  {{ text.headerminimal_paragraph('Hej [[firstName]]', 'Vi har fundet en bolig til dig, som matcher din gemte søgning: [[savedSearchName]].') }}
  
  {% include "./includes/_hr.html" %}

  <mj-section {{bp_section|safe}}>
    <mj-column width="30%">
      <mj-image width="150" src="[[imageUrl]]" alt="[title]]" href="[[adUrl]]" />
    </mj-column>
    <mj-column width="70%">
      <mj-text {{bp_text|safe}}>
        <strong><a href="[[adUrl]]" {{bp_link|safe}}>[[title]]</a></strong><br/>
        [[cityName]] ([[zipCode]])<br/>Størrelse [[livingArea]] m²<br/>Husleje [[rent]] kr.
      </mj-text>
      <mj-button href="[[adUrl]]" align="left" {{bp_button|safe}}>
        Se bolig
      </mj-button>
    </mj-column>
  </mj-section>
  {% include "./includes/_promoteapp-dk.html" %}

{% endblock %}

