{# Desc: Notification send to landlord when a place receive an message. #}

{% extends './extends/_standard.html' %}
{% import './macros/_buttons.html' as button %}
{% import './macros/_texts.html' as text %}

{% block standard %}

  {{ text.headerminimal_paragraph('Hej [[firstName]] [[lastName]]', 'Du har modtaget en ny henvendelse vedr. <strong>[[propertyAddress]]</strong>.') }}
  <mj-section background-color="#f4f4f4" {{bp_section|safe}}>
    <mj-column width="100%">
      <mj-text align="center" {{bp_text|safe}}>
        <strong>[[senderFirstName]] [[senderLastName]]</strong> <br/>
        <a href="mailto:[[senderEmail]]" target="_blank">[[senderEmail]]</a> • <a href="tel:[[senderTelephone]]" target="_blank">[[senderTelephone]]</a>
      </mj-text>
    </mj-column>
    <mj-column width="100%">
      <mj-text {{bp_text|safe}}>
      </mj-text>
    </mj-column>
    <mj-column background-color="white" width="90%">
      <mj-text {{bp_text|safe}}>
        [[message]]
      </mj-text>
    </mj-column>
  </mj-section>

{% endblock %}



